@using Gallary.Helpers
@model Gallary.Models.SearchResult
@{
    ViewBag.Title = "Gallary";
}

 @if (Model.Response != "success")
{
<div class="row my-3">
    <div class="col">
        @Html.Alert(Model.Error, AlertTypeEnum.Info)
    </div>
</div>
}

@if (Model.ResultsFor != null)
{
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 my-2">
    @foreach (var character in Model.Results)
    {
    <article class="col">
        <div class="card shadow-sm">
        <a href="@Url.RouteUrl("Details", new { id = character.Id })">
            <img src="@character.Image.Url" alt="@character.Name" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title card__title">
                    <strong>@character.Name</strong> (@character.Appearance.Gender)
                </h5>
            </div>
        </a>
        </div>
    </article>
    }
</div>
} else
{
<div class="row">
    <div class="col">
        <h1>Welcome.</h1>
        <p>You are close to get top secret information.</p>
    </div>
</div>
}


